/*
 * Buttons style (make them same size, make icon on left, Description with fixed size )
 */
	#activeButton, .btn.big {

		min-width: 150px;
		font-weight: bold;
	}

	#activeButton .fa {
		float: left;
		margin-top: 2.6%;
	}
	#activeButton .description {

		margin-left: 10px;
		min-width: 82px;
		display: inline-block;
	}

	/*
	 * Select placeholder trick (color my default choose as placeholder)
	 */

	.placeholder {
		color: rgb(153, 153, 153);
		margin-bottom: 0;
	}
	select option:first-child {
		color: grey;
		display: none;
	}
	select option {
		color: #555;
	}


/*
 * Validation messages style
 */
	.form-group .help-block {
		display: none;
	}

	.form-group.has-error .help-block {
		display: block !important;
	}



	/*
	 * Reset button Style
	 */
	.myresetButton {
		position: relative;
		top: -49px;
		left: 305px;
	}

	@media (max-width: 768px) {
		.myresetButton {

			left: 155px;
		}

	}

	/*
	 * Removing P margin under calendar control 
	 *  to make all margin on the employee form the the same*
	 */
	p.input-group {
		margin-bottom: 0;
	}