/*
 * Grid Toolbar style
 */
#grid .k-grid-toolbar
{
padding: .6em 1.3em;
}
.category-label
{
vertical-align: middle;
padding-right: .5em;
}
#category
{
vertical-align: middle;
}

#categoryLabel{
margin-left: 14px;
}


/*
 * Active Grid Icon Style (prevent selecting, hover effect:opacity and click effect)
 */
td i{
transition: 0.3s;
opacity: 0.1;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
cursor:pointer;
display: inline-block;
font: normal normal normal 30px/1 FontAwesome;
/* font-size: inherit;*/
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
transform: translate(0, 0);

}

td i:hover{
opacity:1;
}

i.true:before{
content: "\f00c";
}
i.false:before{
content: "\f00d";
}