/*
 * Style for circle Imgs(hovering effects and shadow)
 */
.placeholder img {
		opacity: 0.4;
		transition: all 0.3s;
		-webkit-box-shadow: 1px 1px 1px 1px #A69FA0;
		box-shadow: 1px 1px 1px 1px #A69FA0;
		position: relative;
		top: 0;
	}
	.placeholder:hover img {
		opacity: 1;
		top: -9px;
	}
	.placeholder {
		cursor: pointer
	}