/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
	border: 0;
}

/*
 * Mobile Nav
 * Animate height of hidden mobile nav to appear and hide
 */
.navbar-collapse {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
	height: 0;
	overflow-x: hidden !important;
	display: block;
}

.navbar-collapse.in {

	height: auto;
}

/*
 * Sidebar
 * Hide for mobile, show for others
 */
.sidebar {
	display: none;
}
@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	}
}

/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}
.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}

/*
 * Main content
 */

.main {
	padding: 20px;
}
@media (min-width: 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}
.main .page-header {
	margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
	margin-bottom: 30px;
	text-align: center;
}
.placeholders h4 {
	margin-bottom: 0;
}
.placeholder {
	margin-bottom: 20px;
}
.placeholder img {
	display: inline-block;
	border-radius: 50%;
}

/*
 * LOGO style
 */

a.navbar-brand {
	position: relative;
	top: -12px;
}

a.navbar-brand > img {

	max-width: 100%;
	height: 46.2px;
	display: inline-block;
	top: 4px;
	position: relative;
}
@media (max-width: 768px) {

	a.navbar-brand > img {

		top: 0px;
	}

}

@media (max-width: 320px) {

	.logo-title {
		font-size: 15px;
	}

}

/*
 * User Icon Style
 */
img.nav-avatar {
	width: 34px;
	height: 34px;
	margin: -7px 5px 0 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.userIcon .dropdown-menu {
	right: 12.5%
}

.userIcon .dropdown-toggle span {

	margin: 0 8px;
}
.userIcon {
	cursor: pointer
}

/*
 * style DateTime label on top nav
 */

.timelabel {

	display: inline-block;
	position: absolute;
}

@media (max-width: 425px) {
	.timelabel {
		display: none;
	}
}

.my.caret {
	margin-right: 8px
}

.nav-user.dropdown a {
	cursor: pointer
}

/*
 * Style notification message
 */
.notify .message {
	display: inline-block;
}

.notify .time {
	color: #999;
}
.notify img {
	max-width: 75px
}

/*
 * Images Sprite css images code
 */
.documentlist, .profile, .todolist1, .viewed1, .user1, .user2, .user3, .user4, .user5, .user6, .user, .logo {
	max-width: 100%;
	background-size: 100%;
	background-image: url('../images/sprite.png');
}

.documentlist {
	background-position: 0 0%;
	background-size: 100%;
}
.profile {
	background-position: 0 12.455334%;
	background-size: 100%;
}
.todolist1 {
	background-position: 0 24.910669%;
	background-size: 100%;
}
.viewed1 {
	background-position: 0 37.366003%;
	background-size: 100%;
}
.user1 {
	background-position: 0 48.197531%;
	background-size: 117.977528%;
}
.user2 {
	background-position: 0 56.987654%;
	background-size: 117.977528%;
}
.user3 {
	background-position: 0 65.777778%;
	background-size: 117.977528%;
}
.user4 {
	background-position: 0 74.567901%;
	background-size: 117.977528%;
}
.user5 {
	background-position: 0 83.358025%;
	background-size: 117.977528%;
}
.user6 {
	background-position: 0 92.148148%;
	background-size: 117.977528%;
}
.user {
	background-position: 0 97.799043%;
	background-size: 184.210526%;
}
.logo {
	background-position: 0 100%;
	background-size: 218.75%;
}
/*END*/
