<!DOCTYPE html>
<html lang="en" ng-app="Dashboard">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>DashBoard</title>

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/mainstyle.css" rel="stylesheet">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body  ng-controller="mainController" ng-init="navbarAppear=false">

		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button"  class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#/"><img class="logo" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAAAuAQMAAADtBI5nAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA9JREFUeNpjYBgFo4DaAAACVgAB3J0k0gAAAABJRU5ErkJggg=="><span class="logo-title">Air Go Airlines</span></a>
					<ul class="nav navbar-nav timelabel">
						<li>
							<a><span class="dateTime" ng-bind-html="dateTimeLabel"></span></a>
						</li>
					</ul>
				</div>

				<div id="navbar" class="navbar-collapse {{navbarAppear?'in':''}} collapse" aria-expanded="false" >
					<ul class="nav navbar-nav navbar-right">
					

						<li ng-click="activeLink.num=1" class="{{activeLink.num==1?'active':''}} visible-xs" >
							<a href="#/" >Dashboard </a>
						</li>
						<li ng-click="activeLink.num=2" class="{{activeLink.num==2?'active':''}} visible-xs">
							<a href="#/employee"  >Employee Data</a>
						</li>
						<li ng-click="activeLink.num=3" class="{{activeLink.num==3?'active':''}} visible-xs">
							<a href="#/addemployee"  >Add Employee</a>
						</li>

						<li class="nav-user dropdown ">

							<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"> <b class="my caret"></b> <i class="fa fa-envelope-o"></i> </a>

							<ul class="dropdown-menu">
								<li>
									<a href="#/">
									<div class="notify"><img class="user1" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALIAAACyAQMAAADcRAcrAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABtJREFUeNrtwTEBAAAAwqD1T20ND6AAAAAAvgwQsAABxv6XFQAAAABJRU5ErkJggg==">
										<span class="message" > <b>Islam Fathy</b> sent you a message
											<br>
											<span class="time" > 1 mins ago </span> </span>
									</div> </a>
								</li>
								<li>
									<a href="#/">
									<div class="notify"><img class="user2" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALIAAACyAQMAAADcRAcrAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABtJREFUeNrtwTEBAAAAwqD1T20ND6AAAAAAvgwQsAABxv6XFQAAAABJRU5ErkJggg==">
										<span class="message" > <b>Ahmed Mahmoud</b> sent you a message
											<br>
											<span class="time" > 10 mins ago </span> </span>
									</div> </a>
								</li>
								<li>
									<a href="#/">
									<div class="notify"><img class="user3" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALIAAACyAQMAAADcRAcrAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABtJREFUeNrtwTEBAAAAwqD1T20ND6AAAAAAvgwQsAABxv6XFQAAAABJRU5ErkJggg==">
										<span class="message" > <b>Mostafa Walid</b> sent you a message
											<br>
											<span class="time" > 10 hours ago </span> </span>
									</div> </a>
								</li>
						

							</ul>

						</li>

						<li class="nav-user dropdown ">

							<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"> <b class="my caret"></b> <i class="fa fa-bell-o"></i> </a>

							<ul class="dropdown-menu">
								<li>
									<a href="#/">
									<div class="notify"><img class="user4" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALIAAACyAQMAAADcRAcrAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABtJREFUeNrtwTEBAAAAwqD1T20ND6AAAAAAvgwQsAABxv6XFQAAAABJRU5ErkJggg==">
										<span class="message" > <b>Mohamed Islam</b> Added as a Developer
											<br>
											<span class="time" > 1 hour ago </span> </span>
									</div> </a>
								</li>
								<li>
									<a href="#/">
									<div class="notify"><img class="user5" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALIAAACyAQMAAADcRAcrAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABtJREFUeNrtwTEBAAAAwqD1T20ND6AAAAAAvgwQsAABxv6XFQAAAABJRU5ErkJggg==">
										<span class="message" > <b>Abeer Mahmoud</b> Promoted to Senior Developer
											<br>
											<span class="time" > 3 hours ago </span> </span>
									</div> </a>
								</li>
								<li>
									<a href="#/">
									<div class="notify"><img class="user6" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALIAAACyAQMAAADcRAcrAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABtJREFUeNrtwTEBAAAAwqD1T20ND6AAAAAAvgwQsAABxv6XFQAAAABJRU5ErkJggg==">
										<span class="message" > <b>Ahmed Mosad</b> Got a Bonus 10%
											<br>
											<span class="time" > Yesterday at 3:00 pm </span> </span>
									</div> </a>
								</li>
							</ul>

						</li>

						<li class="nav-user dropdown userIcon">

							<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"> <b class="caret"></b> <span>ahmedam55</span> <img class="user nav-avatar" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHIAAABxAQMAAAAzh2WQAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABVJREFUeNpjYBgFo2AUjIJRMApGAQAHEAAB47/8NgAAAABJRU5ErkJggg=="> </a>

							<ul class="dropdown-menu">
								<li>
									<a href="#/">Your Profile</a>
								</li>
						
								<li>
									<a href="#/">Logout</a>
								</li>
							</ul>

						</li>

					</ul>
				
				</div>
			</div>
		</nav>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">
						<li ng-click="activeLink.num=1" class="{{activeLink.num==1?'active':''}}" >
							<a href="#/" >Dashboard </a>
						</li>
						<li ng-click="activeLink.num=2" class="{{activeLink.num==2?'active':''}}">
							<a href="#/employee"  >Employee Data</a>
						</li>
						<li ng-click="activeLink.num=3" class="{{activeLink.num==3?'active':''}}">
							<a href="#/addemployee"  >Add Employee</a>
						</li>
						
					</ul>
				
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

					<div ng-view></div>
				</div>
			</div>
		</div>

		<script src="scripts/jquery-1.9.1.min.js"></script>
		<script src="scripts/jszip.min.js"></script>

		<!-- Very big load on initial loading performance (2.0mb)/ (735kb)Gzipped  -->
		<script src="scripts/kendo.all.min.js"></script>

		<script src="scripts/angular.min.js"></script>
		<script src="scripts/angular-route.min.js"></script>
		<script src="scripts/ui-bootstrap-tpls-0.12.1.js"></script>
		<script src="scripts/bootstrap.min.js"></script>

		<script src="scripts/mainapp.js"></script>

		<script src="scripts/validateModule.js"></script>
	</body>
</html>