<form name="myForm" novalidate="novalidate">

	<div class="">
		<div class="row">
			<legend>
				Add Employee:
			</legend>

			<div class="col-xs-6">

				<div class="form-horizontal">
					<div class="form-group" show-errors='{showErrors: true}'>
						<label for="name" class="col-sm-5 col-md-3 control-label">Name</label>
						<div class="col-sm-7 col-md-9">
							<input type="text" ng-model="employee.Name" name="Name" class="form-control" id="name" placeholder="Name" required>
							<p class="help-block" ng-if="myForm.Name.$error.required">
								Employee's name is required
							</p>
						</div>
					</div>
					<div class="form-group" show-errors='{showErrors: true}'>
						<label for="startDate" class="col-sm-5 col-md-3 control-label">Start Date</label>
						<div class="col-sm-7 col-md-9">
							<p class="input-group">
								<input type="text" class="form-control" name="startDate" id="startDate"  placeholder="Start Date"  datepicker-popup="{{format}}" ng-model="employee.startDate" is-open="opened1"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" required  close-text="Close" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="open($event,1)">
										<i class="glyphicon glyphicon-calendar"></i>
									</button> </span>
							</p>
							<p class="help-block" ng-if="myForm.startDate.$error.required">
								Employee's Start Date is required
							</p>
							<p class="help-block" ng-if="myForm.startDate.$error.date" >
								You must enter a Valid Date e.g(22/05/2015)
							</p>
						</div>
					</div>

					<div class="form-group">
						<label for="desc" class="col-sm-5 col-md-3 control-label">Description</label>
						<div class="col-sm-7 col-md-9">
							<textarea class="form-control" id="desc" ng-model="employee.Description"  rows="3" placeholder="Description"></textarea>
						</div>
					</div>

					<div>
						<div class="form-group">
							<div class="col-sm-offset-5 col-md-offset-3 col-sm-7 col-md-9">
								<button type="submit" class="btn btn-primary big" ng-click="save()">
									Submit
								</button>
							</div>
						</div>
						<div class="form-group myresetButton">
							<div class="col-sm-7 col-md-9">
								<button  class="btn btn-default big" ng-click="reset()">
									Reset
								</button>
							</div>
						</div>

					</div>

				</div>

			</div>

			<div class="col-xs-6">
				<div class="form-horizontal">
					<div class="form-group" show-errors='{showErrors: true}'>
						<label for="dep" class="col-sm-5 col-md-3 control-label">Department</label>
						<div class="col-sm-7 col-md-9">
							<select class="form-control {{!employee.Department?'placeholder':''}}" required name="Department" ng-model="employee.Department" ng-change=""  id="dep">
								<option value="" selected  >Choose Department</option>
								<option>Development</option>
								<option>Designing</option>
								<option>Accounting</option>
								<option>HR</option>
								<option>Security</option>
							</select>
							<p class="help-block" ng-if="myForm.Department.$error.required">
								Employee's Department is required
							</p>
						</div>
					</div>
					<div class="form-group" show-errors='{showErrors: true}'>
						<label for="hireDate" class="col-sm-5 col-md-3 control-label">Hire Date</label>
						<div class="col-sm-7 col-md-9">
							
							<p class="input-group">
								<input type="text" class="form-control" name="HireDate" required  placeholder="Hire Date" id="hireDate" datepicker-popup="{{format}}"  ng-model="employee.HireDate"  is-open="opened2"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="open($event,2)">
										<i class="glyphicon glyphicon-calendar"></i>
									</button> </span>
							</p>
							<p class="help-block" ng-if="myForm.HireDate.$error.required">
								Employee's Hire Date is required
							</p>
							<p class="help-block" ng-if="myForm.HireDate.$error.date" >
								You must enter a Valid Date e.g(22/05/2015)
							</p>

						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-5 col-md-offset-3 col-sm-7 col-md-9">
							<button type="button" ng-click="employee.active=!employee.active" id="activeButton" class="btn  btn-md  btn-{{employee.active?'success':'danger'}}">
								<span class="{{employee.active?' fa fa-check':' fa fa-times'}} " ></span>
								<span class="description">{{employee.active?'Active':'Not Active'}}</span>
							</button>
						</div>
					</div>

					

				</div>

			</div>

		</div>
	</div>

</form>

<link rel="stylesheet" href="css/addemployee.css" />
<script src="scripts/alertify.min.js"></script>
<link href="css/alertify.core.css" rel="stylesheet">
<link href="css/alertify.default.css" rel="stylesheet">
