<link href="css/kendo.common-material.min.css" rel="stylesheet">

<link href="css/kendo.rtl.min.css" rel="stylesheet">

<link href="css/kendo.material.min.css" rel="stylesheet">

<link href="css/kendo.material.mobile.min.css" rel="stylesheet">

<link href="css/kendo.dataviz.min.css" rel="stylesheet">

<link href="css/kendo.dataviz.material.min.css" rel="stylesheet">

<div id="example" ng-controller="employee">

	<script id="rowTemplate" type="text/x-kendo-tmpl">

		<tr data-uid=""#= uid #" role="row">
		<td role="gridcell">#:Code#</td>
		<td role="gridcell">#: Name #</td>
		<td role="gridcell">#: Department #</td>
		<td role="gridcell">#: HiringDate #</td>
		<td  role="gridcell"><i  onclick="this.className=(this.className=='true')?'false':'true';" class="#: Active #"></i></td>
		</tr>
	</script>
	<div id="grid"></div>

	<link rel="stylesheet" href="css/employee.css" />

	<script src="scripts/employee.js"></script>
</div>