<div ng-controller="home">
	<h1 class="page-header" >Dashboard</h1>

	<div class="row placeholders">
		<div class="col-xs-6 col-sm-3 placeholder">
			<img class="todolist1 img-responsive" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANIAAAD0AQMAAADUouoqAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAB1JREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAADgZxqwAAFh6tSNAAAAAElFTkSuQmCC">
			<h4>To-Do List</h4>
			<span class="text-muted">Organize your tasks</span>
		</div>
		<div class="col-xs-6 col-sm-3 placeholder">
			<img class="documentlist img-responsive" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANIAAAD0AQMAAADUouoqAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAB1JREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAADgZxqwAAFh6tSNAAAAAElFTkSuQmCC">
			<h4>Document List</h4>
			<span class="text-muted">Manage your documents</span>
		</div>
		<div class="col-xs-6 col-sm-3 placeholder">
			<img class="profile img-responsive" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANIAAAD0AQMAAADUouoqAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAB1JREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAADgZxqwAAFh6tSNAAAAAElFTkSuQmCC">
			<h4>Profile Data</h4>
			<span class="text-muted">Edit your info</span>
		</div>
		<div class="col-xs-6 col-sm-3 placeholder">
			<img class="viewed1 img-responsive" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANIAAAD0AQMAAADUouoqAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAB1JREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAADgZxqwAAFh6tSNAAAAAElFTkSuQmCC">
			<h4>Recently Viewed</h4>
			<span class="text-muted">See how cares</span>
		</div>
	</div>

</div>
<link rel="stylesheet" href="css/home.css" />	
